include COPYING
include TODO
include NEWS
include HOWTO
include CREDITS
include README
include ChangeLog
include MANIFEST.in
include testsample.py
include testmime.py
include testutils.py
include testbms.py
include rejects.py
include report.py
include bms.py
include spf.py
include cid2spf.py
include spfquery.py
include test.py
include sample.py
include milter-template.py
include spfmilter.py
include spfmilter.rc
include spfmilter.cfg
include test/*
include doc/*
include Milter/*.py
include *.spec
include start.sh
include milter.rc
include milter.rc7
include milter.cfg
include rhsbl.m4
include *.txt
include *.html
