include COPYING
include TODO
include NEWS
include HOWTO
include CREDITS
include README
include ChangeLog
include MANIFEST.in
include testsample.py
include testmime.py
include testutils.py
include test.py
include sample.py
include milter-template.py
include test/*
include doc/*
include Milter/*.py
include *.spec
include *.html
include start.sh
