#!/bin/bash
#
# spfmilter	This shell script takes care of starting and stopping spfmilter.
#
# chkconfig: 2345 80 30
# description: a process that checks SPF for messages sent through sendmail.
# processname: spfmilter
# config: /etc/mail/spfmilter.cfg
# pidfile: /var/run/milter/spfmilter.pid

python="python2.4"

pidof() {
	set - ""
	if set - `ps -e -o pid,cmd | grep "${python} spfmilter.py"` &&
	  [ "$2" != "grep" ]; then
	  echo $1
	  return 0
	fi
	return 1
}

# Source function library.
. /etc/rc.d/init.d/functions

[ -x /usr/lib/pymilter/start.sh ] || exit 0

RETVAL=0
prog="spfmilter"

start() {
	# Start daemons.

	echo -n "Starting $prog: "
        if ! test -d /var/run/milter; then
		mkdir -p /var/run/milter
		chown mail:mail /var/run/milter
	fi
	daemon --check milter --user mail /usr/lib/pymilter/start.sh spfmilter
	RETVAL=$?
	echo
	[ $RETVAL -eq 0 ] && touch /var/lock/subsys/spfmilter
	return $RETVAL
}

stop() {
	# Stop daemons.
	echo -n "Shutting down $prog: "
	killproc milter
	RETVAL=$?
	echo
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/spfmilter
	return $RETVAL
}

# See how we were called.
case "$1" in
  start)
	start
	;;
  stop)
	stop
	;;
  restart|reload)
	stop
	start
	RETVAL=$?
	;;
  condrestart)
	if [ -f /var/lock/subsys/spfmilter ]; then
	    stop
	    start
	    RETVAL=$?
	fi
	;;
  status)
	status spfmilter
	RETVAL=$?
	;;
  *)
	echo "Usage: $0 {start|stop|restart|condrestart|status}"
	exit 1
esac

exit $RETVAL
